* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
}
div {
  margin: 0 auto;
}
h1 {
  margin-bottom: 20px;
}
nav {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
a:hover {
  color: red;
}
li {
  display: flex;
  gap: 20px;
}
